body {
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);

  background-color: var(--bg-color);
}

button {
  padding: 0;
}
