/* ======== Variables ======= */
:root {
  --main-color: #ffffff;
  --secondary-color: ;
  --accent-color: ;
  --icon-color: ;
  --opacity-color: ;
  --socials-opacity: ;
  --bg-button: ;
  --button-dark: ;
  --bg-color: #08080c;
  --font-main: 'Poppins', 'Arial', sans-serif;
  --font-secondary: 'Montserrat', 'Open Sans', sans-serif;
}
/* ========================== */
/* ======== Adaptive ======== */
// mob: 375px
// tablet: 834px
// desktop: 1920px
/* ========================== */
